<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tollgate.daemon</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/tollgated</string>
		<string>--config</string>
		<string>/usr/local/etc/tollgate/tollgate.yaml</string>
		<string>--control-socket</string>
		<string>/usr/local/var/run/tollgate.sock</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>

	<key>StandardOutPath</key>
	<string>/usr/local/var/log/tollgate/tollgate.log</string>

	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/tollgate/tollgate.log</string>

	<key>WorkingDirectory</key>
	<string>/usr/local/etc/tollgate</string>
</dict>
</plist>
